@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:root {
    --main-bg-color: brown;
    --main-bg-white: white;
}

body {
    font-family: 'Inter', sans-serif;
}

.header {
    background-color: var(--main-bg-color);
    color: var(--main-bg-white);
}

.counter {
    width: 300px;
    height: 300px;
    margin: 40px auto;
    border: 1px solid slategray;
    text-align: center;
    border-radius: 30px;
}

.counter .text {
    font-size: 35px;
    font-weight: 600;
    padding: 60px 0;
    border-bottom: 1px solid slategray;
    background-color: brown;
    border-radius: 30px 30px 0 0;
    color: var(--main-bg-white);
}

.counter .text .btn {
    margin: 20px 0;
}